.BadgesList ul>li {
  margin-bottom: 1rem;
}

.BadgesList>ul{
  padding-left: 0px !important;
}

.BadgesListItem {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  display: flex;
  padding: 1rem;
}

.BadgesListItem__avatar {
  border-radius: 50%;
  background: #a3a3a3;
  margin-right: 0.5rem;
  width: 80px;
  height: 80px;
}

.BadgesListItem__twitter {
  display: flex;
  height: 30px;
}

.BadgesListItem__twitter> img {
  margin-right: 0.5rem 
}

.BadgesListItem__twitter> p {
  color: #1DA1F2
}

.BadgesList__info {
  margin-left: 0.8rem;
}

.BadgesList__info h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.BadgesList__info>ul>li {
  margin: 0 !important;
}

p {
  margin-bottom: 0px !important
}


@media (max-width: 544px) 
{
  .BadgesListItem {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .BadgesList__info {
    margin-left: 0.8rem;
    text-align: center;
    margin-top: 0.9rem;
  }

}